<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Inicio</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
  <div th:replace="~{commons/navbar::topbar}" ></div>
  <div class="container" style="margin-top:50px;">
    <form th:action="@{/archivos/cargar}" method="post" enctype="multipart/form-data">
      <div class="card">
        <div class="card-header">
          <h2>Carga de archivos</h2>
        </div>
        <div class="card-body">
          <input type="file" class="form-control" name="archivos">
          <h3 th:text="${mensaje}"></h3>
        </div>
        <div class="card-footer">
          <input type="submit" value="Guardar" class="btn btn-success">
          <a href="/ingresos_salidas/listar" class="btn btn-primary" role="button">Volver</a>
        </div>
      </div>
    </form>
  </div>
</body>
</html>