<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Ingresos y salidas</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
    <div th:replace="~{commons/navbar::topbar}" ></div>
<div class="container-sm">
    <div class="card">
        <div class="card-header">
            <h2>Ingresos y salidas</h2>
        </div>
        <div class="card-body">
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Fecha</th>
                    <th>Hora</th>
                    <th>Rut empleado</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="is:${ingresosSalidas}">
                    <td th:text="${is.id}"></td>
                    <td th:text="${is.fecha}"></td>
                    <td th:text="${is.hora}"></td>
                    <td th:text="${is.rut_empleado}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="card-footer">
            <a href="/" class="btn btn-primary" role="button">Volver</a>
        </div>
    </div>
</div>
</body>
</html>